{% extends "activities/base.html" %}

{% load staticfiles %}

{% block extra_head_tags %}
    <link rel="stylesheet" type="text/css" href="{% static "activities/css/main.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "activities/css/datepicker.css" %}">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static "activities/js/bootstrap-datepicker.js" %}"></script>
{% endblock %}

{% block main_content %}
    <h1>Add Activity</h1>

    <div class="pull-right">
        <a href="{% url 'activities:index' %}" class="btn btn-primary">View activities</a>
    </div>

    <!-- Our add activity form -->
    <form class="addactivity" action="{% url 'activities:add_activity'  %}" method="post">
    {% csrf_token %}
    <!-- Django will render the form elements for us -->
    {{ form.as_p }}
    <input type="submit" value="Submit" class="btn btn-primary"/>
    </form>

    <!-- Init our datepicker -->
    <script type="text/javascript">
        $(document).ready(function() {
            // The format does default to mm/dd/yyyy anyway but just to be explicit..
            $('#id_date').datepicker({format:'mm/dd/yyyy'});
        });
    </script>
{% endblock %}